/*Para la alineación de imagen*/
figure {
  margin: 0;
  display: inline-block;
  position: relative;
}

nav:mainMenu {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1800px;
  align-items: center; 
}

#mainMenu2 {
  width: 1800px;
  align-items: center; 
}

#searchForm {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1800px;
  margin-left: 10px;
}